<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Voodoo Dashboard - Spending and Revenue</title>
  <link href="/css/lib/bootstrap.min.css" rel="stylesheet">
  <link href="/css/default.css" rel="stylesheet">
  <script src="/js/lib/axios.min.js"></script>
  <script src="/js/index.js"></script>
</head>

<body>
  <!-- templates -->
  <template id="headCountryCell">
    <th scope="col" class="country tpl"></th>
  </template>
  
  <template id="appBlock">
    <tbody class="tpl">
      <tr class="app">
        <th scope="row"></th>
        <!-- insert defaultCountryCell template -->
        <td class="total"></td>
      </tr>
    </tbody>
    <tbody class="details tpl">
      <!-- insert appDetailsRow templates -->
    </tbody>
  </template>
  
  <template id="appDetailsRow">
    <tr>
      <th scope="row"></th>
      <!-- insert defaultCountryCell template -->
      <td class="total"></td>
    </tr>
  </template>
  
  <template id="defaultCountryCell">
    <td class="country tpl"></td>
  </template>
  <!-- /templates -->
  
  <nav class="navbar navbar-dark bg-dark">
    <!-- todo: replace this with a h1 tag, with the same styling -->
    <span class="navbar-brand mb-0 h1">Voodoo Dashboard - Spending and Revenue</span>
  </nav>

  <section id="formContainer" class="border-bottom">
    <form id="formFilter" class="form-inline">
      <label for="dateStart">Display data between</label>
      <input type="date" id="dateStart" name="dateStart" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" class="form-control ml-2 mr-2" title="Data from this date will be included">
      <label for="dateEnd">and</label>
      <input type="date" id="dateEnd" name="dateEnd" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" class="form-control ml-2 mr-2" title="Data from this date will NOT be included">
      <button type="submit" class="btn btn-primary">Show</button>
      <div id="loader" class="ml-2 d-none"></div>
    </form>

    <div id="msgContainer" class="d-none">
      <div class="alert alert-danger" role="alert">
      </div>
    </div>
  </section>

  <section id="resultsContainer">
    <div class="alert alert-primary" role="alert" id="placeholder">
      Please select the interval you want to display then click on the "Show" button
    </div>

    <table class="table table-sm table-bordered table-hover d-none" id="mainTable">
      <caption></caption>
      <thead class="thead-light">
        <tr>
          <th scope="col">Line Label</th>
          <!-- insert headCountryCell template -->
          <th scope="col" class="total">Total</th>
        </tr>
      </thead>
      <!-- insert appBlock template -->
      <!-- insert appDetails template -->
      <tfoot>
        <tr>
          <th scope="row">Total</th>
          <!-- insert defaultCountryCell template -->
          <td class="total"></td>
        </tr>
      </tfoot>
    </table>
  </section>

  <script>
    document.addEventListener("DOMContentLoaded", function(event) {
      DashboardApp.init();
    });
  </script>
</body>

</html>